HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxx
DEFAULT_MODEL_DIR=/etc/moreh/checkpoint
DEFAULT_DATA_DIR=/etc/moreh/checkpoint/data

# Wandb 配置（每人填自己的）
WANDB_API_KEY=your_wandb_api_key_here
WANDB_ENTITY=deng-lab # 团队名称，不用修改